# WordPress - ignore core, configuration, examples, uploads, and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuration
wp-config.php

# Ignore all plugins, including Akismet
/wp-content/plugins/*
/wp-content/plugins/hello.php
/wp-content/plugins/akismet  

# Uploads
/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# Ignore all themes except twentytwentyfour
/wp-content/themes/*
!/wp-content/themes/twentytwentytwo/ 
